body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: skyblue;
  border-radius: 10px;
  padding: 30px;
}
h1 {
  margin: 0 auto;
  font-size: 30px;
}
input {
  margin: 0 auto;
  width: 300px;
}
img {
  width: 12px;
  height: auto;
}
#todo-form {
  display: flex;
  padding: 10px;
  margin: 0 auto;
}
#todo-list {
  margin: 0 auto;
  width: 300px;
}
li {
  margin-top: 10px;
}