body {
  background-color: beige;
}

#root {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
}

h1 {
  margin: 0 auto;
  padding-top: 30px;
  font-size: 50px;
  text-align: center;
}

input {
  width: 450px;
  margin-right: 5px;
}

img {
  width: 12px;
  height: auto;
}

button {
  cursor: grab;
}

#todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#todo-list {
  margin: 0 auto;
  width: 450px;
}

.todo-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

#edit-input {
  display: none;
  position: absolute;
}
