.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-top: 50px;
}

.inputBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label {
  width: 30px;
}

.input {
  all: unset;
  border-bottom: 1px solid #000;
}

.button {
  margin-top: 10px;
}
